<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body>
<div class="col-md-12">

<div class="container" style="width:100%">
<!-- Search Navbar - START -->
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header" >
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">PiZzA CoUnTeR</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#/cart">view cart</a></li>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text"  ng-model="query.name" class="form-control" placeholder="Search">

            </div>
        </form>
    </div>
</div>
</nav>
<div style="height:50px" ></div>
<div style="width:100%" >
  <div style="align:left;float:left;background-color:#CCFFFF;padding:5px" >
      <center>
<table>
       <tr>
          <td colspan="2" align="center">ADMIN LOGIN<br/></td>
      </tr>
      <tr>
         <td colspan="2" align="center"> <br></td>
     </tr>
      <tr >
          <td width="25%" >Username </td>
          <td><input type="text" ng-model="pizzaGlry.user"></td>

      </tr>
      <tr>
         <td colspan="2" align="center"> <br></td>
     </tr>
      <tr>
          <td width="25%">Password </td>
          <td colspan="2"><input type="password" ng-model="pizzaGlry.password"></td>

      </tr>
      <tr >
          <td align="center" colspan="3"><br/><button ng-click="pizzaGlry.check()">login</button></a></td>
      </tr>
  </table>
  </center>
</div>

 <div ng-repeat="pizza in pizzaGlry.details | filter:query" style="width:176px;font-size:80%;text-align:center;float:left;position:relative">
   <a href="#/{{pizza.name}}"><img ng-src="{{pizza.image}}" width="100" height="100"></a>
    <br><b><a href="#/{{pizza.name}}">{{pizza.name}}</a></b>
</div>
</div>
</div>
</div>

</body>
</html>
