<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="col-md-12"style="height:100%">
            <div class="container" style="width:100%">
                <!-- Search Navbar - START -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/">PiZzA CoUnTeR</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active" style="padding:8px" ><button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">ADMIN LOGIN</button></li>
                            <li class="active"><a href="#/cart">view cart</a></li>
                        </ul>
                        <div class="col-sm-3 col-md-3 pull-right">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text"  ng-model="query.name" class="form-control" placeholder="Search Your Pizza">
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
<!-- new insertion -->
            <div>
                <div collapse="isCollapsed">
                    <div class="well well-lg">
                        <center>
                            <table>
                                <tr>
                                    <td colspan="2" align="center">ADMIN LOGIN<br/></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"> <br></td>
                                </tr>
                                <tr >
                                    <td width="25%" >Username </td>
                                    <td><input type="text" ng-model="pizzaGlry.user"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"> <br></td>
                                </tr>
                                <tr>
                                    <td width="25%">Password </td>
                                    <td colspan="2"><input type="password" ng-model="pizzaGlry.password"></td>
                                </tr>
                                <tr >
                                    <td align="center" colspan="3"><br/><button ng-click="pizzaGlry.check()">login</button></td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
<!--  end of new insertion-->
            <div style="height:50px;" ><i><h1 align="center">GrAb YoUr PiZzA DuDe....!</h1></i></div>

            <div style="float:initial;position:relative">
                <div>
                    <carousel interval="5000" no-wrap="false" disable-animate="true">
                        <slide ng-repeat="pizza in pizzaGlry.details | filter:query" active="slide.active">
                            <a href="#/{{pizza.name}}"><img ng-src="{{pizza.image}}" style="margin:auto; width:47%; height:47% "></a>
                            <div class="carousel-caption">
                                <a href="#/{{pizza.name}}"><p>{{pizza.name}}</p></a>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
            <!-- <div style="width:100%;float:initial;padding:10px" >
                <center>
                    <table style="background-color:#CCFFFF;padding:5px">
                        <tr>
                            <td colspan="2" align="center">ADMIN LOGIN<br/></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"> <br></td>
                        </tr>
                        <tr >
                            <td width="25%" >Username </td>
                            <td><input type="text" ng-model="pizzaGlry.user"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"> <br></td>
                        </tr>
                        <tr>
                            <td width="25%">Password </td>
                            <td colspan="2"><input type="password" ng-model="pizzaGlry.password"></td>
                        </tr>
                        <tr >
                            <td align="center" colspan="3"><br/><button ng-click="pizzaGlry.check()">login</button></td>
                        </tr>
                    </table>
                </center>
            </div> -->
        </div>
    </body>
</html>
