<div class="col-md-12">
<div align="center" style="padding:100">

    <table style="background-color:#CCFFFF">
        <tr>
            <td align="center" colspan="2"><h4>{{pizza.name}}</h4></td>
        </tr>
        <tr>
            <td align="center">
                <img ng-src="{{pizzaDtls.pizza.image}}" width="250"><br>
            </td>
            <td align="center"><i>{{pizzaDtls.pizza.description}}</i></td>
        </tr>
        <tr>
            <td align="center"><h4> <i>RATE : &#8377 {{pizzaDtls.pizza.rate}} /- </i></h4></td>
            <td align="center">
                <select ng-model="pizzaDtls.user.qty" ng-click="pizzaDtls.enter()" >
                    <option value="">Number Of Pieces</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="center"><a href="#/">Back To Pizza List</a></td>
            <td align="center"><a href="#/cart">Add To Cart</a></td>
        </tr>
    </table>
    </div>
  </div>
