<div class="col-md-12">
  <center>
  <h1><i>ORDER SUMMARY</i></h1>
   <table style="width:50%;background-color:#CCFFFF" border="1">
      <tr>
          <td align="center"><h4>Customer Name</h4></td>
          <td align="center"><h4>Delivery Address</h4></td>
          <td align="center"><h4>Phone</h4></td>
          <td align="center"><h4>Order Details</h4></td>
          <td align="center"><h4>Delivery status</h4></td>
      </tr>
      <tr ng-repeat="pizza in deliver.details">
          <td align="center">{{pizza.fname}}</td>
          <td align="center">{{pizza.add}}</td>
          <td align="center">{{pizza.no}}</td>
          <td>
              <ul ng-repeat="i in pizza.order">
                  <li>Pizzaname:{{i.pname}}</li>
                  <li>Pizzarate:{{i.rate}}</li>
                  <li>Quantity:{{i.qty}}</li>
                  <li>Cost:{{i.cost}}</li>
              </ul>
          </td>
          <td align="center"> <button ng-click="deliver.delFunction(pizza._id)">Delivered</button></td>

      </tr>
  </table>
  </center>

</div>
