<div class="col-md-12">
  <div align="center" style="padding:150">
          <table>
              <tr>
                      <td colspan="2" align="center">Enter Delivery Details</td>
              </tr>
              <tr>
                  <td>Name</td>
                  <td><input type="text" ng-model="confirmOrdr.user.fname"></td>
              </tr>
              <tr>
                  <td>Address</td>
                  <td><input type="text" ng-model="confirmOrdr.user.add"></td>
              </tr>
              <tr>
                  <td>phone</td>
                  <td><input type="number" ng-model="confirmOrdr.user.no"></td>
              </tr>
              <tr>
                <td  align="center">
                    <a href="index.html">Continue Purchase</a>
                </td>
                <td  align="center">
                    <button ng-click="confirmOrdr.message()">SUBMIT</button>
                </td>
              </tr>
          </table>
      </div>


</div>
